<!DOCTYPE html>
<html>
    <head>
        <title>Superhero Teams</title>
    </head>

    <body>
    <h1><%= @team_name %></h1>
    <h2>Team Motto: <%= @team_motto%> </h2>

    <br>
    <% @team_members.each_with_index do |hero, index| %>
        <em> Hero Name: <%= @hero_name[index] %></em><br>
        <p>Hero Power: <%= @hero_power[index] %></p><br>
        <p>Hero Biography: <%= @hero_bio[index] %></p><br>
    <% end %>
    </body>
</html>